---
import BaseLayout from '../layouts/BaseLayout.astro';

const allPosts = Object.values(import.meta.glob('./posts/blog*.md', { eager: true }));
const pageTitle = "Blog";

---
<BaseLayout pageTitle={pageTitle}>
<body>

<p>This is where I drop posts about my personal life, what I'm thinking about, and how its shaping my universe.</p>
<p>I think this would be a good place to comment on different world building tidbits that I enjoy. I can muse on topics in a longer format or maybe even drop a book review here and there.</p>

<ul>
    {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>
</body>
</BaseLayout>