---

---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Astro</title>
</head>
<body>
    <a href="/blog">Blog</a>


	<h1>My Universe</h1>

	<p>I've grown up with a love for epic fantasy world building. As a kid I was captured by the magic, history, and stories in Harry Potter, Eragon, and Warcraft 3</p>
	<p>Later I grew to appreciate the masters of the world building craft. Lord of the Rings, The Cosmere, The Wheel of Time, and The Warhammer Universe</p>
    <p>In the creation story in the book of Genesis, God created man in his image. God spoke and it was created. All of creation was accomplished with words. As beings created in his image we can use our words to create our own universes as well</p>

	<p>Along the way I've picked up my favorite pieces, added my own ideas, and crafted my own characters and stories. This site is the place where my fantasy universe will take shape</p>
	<p></p>
</body>
</html>
