---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Wiki";

---
<BaseLayout pageTitle={pageTitle}>
<body>

<ul>
    <li><a href="/Worldbuilding-Wiki/posts/wiki-1-creator/">The Creator</a></li>
</ul>

</body>
</BaseLayout>